.carre {
    height: 100px;
    width: 100px;
    background-color: black;
    position: absolute;
}

.carre .horizontal {
    height: 10px;
    width: 100px;
    background-color: white;
    position: absolute;
    margin-top: 50px;
}

.section04 {
    
}
